.App {
  display: flex;
  flex: 1;
  padding: 10px;
  overflow: scroll;
  flex-shrink: 0;
  min-height: 300px;
}

.MessagePane {
  flex: 1;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.MessagePane-List {
  border-bottom: 1px solid black;
  flex: 1;
  overflow: auto;
}

.MessagePane-Form {
  padding: 10px;
  min-height: 150px;
}

.MessagePane-Form-container {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  min-height: 150px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.MessagePane-Form-container p {
  margin: 0;
}

.MessagePane-Form .name {
  height: 25px;
  width: 200px;
  font-size: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  outline: none !important;
  padding: 5px;
}

.MessagePane-Form .message {
  height: 40px;
  width: 600px;
  font-size: 15px;
  border: 1px solid #eee;
  border-radius: 3px;
  outline: none !important;
  padding: 5px;
}

.MessagePane-Form .send {
  width: 60px;
  height: 30px;
  color: green;
  font-size: 16px;
}

.Message {
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.Message-not-saved {
  color: #eee;
}

.Message-author {
  font-weight: bold;
}

.Message-text {
  margin-top: 5px;
}

.ChannelList {
  width: 200px;
  border: 1px solid black;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.ChannelList-item {
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid navy;
  padding: 0 5px;
}

.ChannelList-item-selected {
  background-color: #00ffd0;
}

.ChannelList-item:hover {
  background-color: #00ffd0;
  cursor: pointer;
}
